<style>
  .center {
    margin: auto;
    width: 30%;
    border: 3px solid #73AD21;
    padding: 25px;
    background-color:lightgrey;
    heigth:60%;
    text-align:center;
    border-radius:20px;
    left:50%;
    top:50%
    float:center
    position:absolute;

  }
  .list
  {
    float:right;
    color:red;
  }

</style>
<div class="list">
  <a href="index">logout</a>
</div>
<br><br><br><br><br><br><br><br><br>
<div class="center">
  <div class = 'card'>
      <p>Name:{{name}}</p>
      <p>Code:{{code}}</p>
      <p>Admin:{{admin}}</p>
      <p>Class:{{class}}</p>
      <p>Section:{{section}}</p>
      <p>Result:<b>{{result}}</b></p>
    </div>
</div>
</table>
